*{
  margin: 0; /* Reseta as margens para todos os elementos */
}

.laranja{
  height: 15vh; /* Altura da seção laranja em 15% da altura da tela */
  width: 100%; /* Largura da seção laranja em 100% da largura da tela */
  background-color: #FB5630; /* Cor de fundo laranja */
  display: flex; /* Usa o modelo flexível de layout */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  font-size: 40px; /* Tamanho da fonte */
  font-family:Arial,Helvetica; /* Fonte */
  color: rgb(255, 255, 255); /* Cor do texto (branco) */
}

.logo{
  height: 50px; /* Altura do logotipo */
  width: 50px; /* Largura do logotipo */
  margin-left: 40px; /* Margem à esquerda */
}

.xhopii{
  margin-bottom: 30px; /* Margem inferior */
  margin-left: 3px; /* Margem à esquerda */
  color: rgb(255, 255, 255); /* Cor do texto (branco) */
  text-decoration: none; /* Sem decoração de texto */
}

.sair{
  color: rgb(255, 255, 255); /* Cor do texto (branco) */
  text-decoration: none; /* Sem decoração de texto */
  font-size: 20px; /* Tamanho da fonte */
  margin-left: 79%; /* Margem à esquerda */
  font-weight: bold; /* Peso da fonte */
}

.nav{
  width: 100%; /* Largura total */
  height: 10vh; /* Altura da barra de navegação em 10% da altura da tela */
  background-color: #FB7730; /* Cor de fundo laranja mais clara */
}

.nav ul{
  display: flex; /* Usa o modelo flexível de layout */
  flex-direction: row; /* Direção dos itens flexíveis (linha) */
  justify-content: center; /* Alinha os itens horizontalmente ao centro */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  margin: 0; /* Define a margem como zero */
  padding: 0; /* Define o preenchimento como zero */
  list-style: none; /* Remove a estilização padrão da lista */
  text-decoration: none; /* Sem decoração de texto */
}

.nav ul li a{
  margin-top: 1px; /* Margem superior */
  font-size: 15px; /* Tamanho da fonte */
  color: rgb(255, 255, 255); /* Cor do texto (branco) */
  text-align: center; /* Alinha o texto ao centro */
  text-decoration: none; /* Sem decoração de texto */
  padding: 20px; /* Preenchimento interno */
  display: block; /* Define os itens como blocos */
}

.nav ul li a:hover{
  color: rgb(255, 255, 255); /* Cor do texto (branco) ao passar o mouse */
  background-color: #FB5630; /* Cor de fundo laranja ao passar o mouse */
}

.container {
  margin-top: 10vh; /* Margem superior */
}

.abaixo img{
  margin-left: 10%; /* Margem à esquerda */
  margin-top: 10vh; /* Margem superior */
  width: 80vw; /* Largura da imagem em 80% da largura da tela */
  height: 20vh; /* Altura da imagem em 20% da altura da tela */
}

.descoberta h4{
  color: #FB7730; /* Cor do texto (laranja) */
  font-family: Arial, Helvetica, sans-serif; /* Fonte */
  font-size: 15px; /* Tamanho da fonte */
  margin-left: 42%; /* Margem à esquerda */
  margin-top: 6vh; /* Margem superior */
}

.linha hr{
  border-color: #FB5630; /* Cor da linha */
  box-sizing:border-box; /* Box-sizing */
  width:100%; /* Largura total */
  margin-top: 6vh; /* Margem superior */
}

.grid-container {
  display: grid; /* Usa o modelo de layout de grade */
  grid-template-columns: repeat(5, 1fr); /* Cria 5 colunas iguais */
  grid-gap: 50px; /* Espaçamento entre as colunas */
  border: 10px solid transparent; /* Borda transparente inicial */
  padding: 15px; /* Preenchimento interno */
  border-image: url(img/home.PNG) 1 round; /* Define a imagem da borda */
}

.grid-item {
  position: relative; /* Posição relativa */
  width: 100%; /* Largura total */
  height: auto; /* Altura automática */
  overflow: hidden; /* Oculta o conteúdo que estiver fora do contêiner */
  border: 2px solid transparent; /* Borda transparente inicial */
  transition: border-color 0.3s ease; /* Transição suave da cor da borda */
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1); /* Sombra */
}

.grid-item img {
  width: 100%; /* Largura total */
  height: auto; /* Altura automática */
  object-fit: cover; /* Redimensiona a imagem para preencher o contêiner */
}

.grid-item:hover {
  border-color: #ff6600; /* Cor da borda ao passar o mouse */
}

footer {
  background: #f5f5f5; /* Cor de fundo do rodapé */
}

footer > section {
  width: 80%; /* Largura de 80% */
  margin-left: 10%; /* Margem à esquerda de 10% */
  padding-top: 50px; /* Preenchimento superior */
  display: flex; /* Usa o modelo flexível de layout */
  justify-content: space-around; /* Distribui os itens uniformemente ao longo do contêiner */
  align-items: center; /* Alinha os itens verticalmente ao centro */
}

footer > section .imagens section {
  display: grid; /* Usa o modelo de layout de grade */
  grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas iguais */
  gap: 2px 2px; /* Espaçamento entre as colunas e as linhas */
}

footer > section .qr-code .image-qr {
  width: 150px; /* Largura */
  height: 150px; /* Altura */
  margin: 20px 0 20px 0; /* Margem */
}

footer > section .qr-code img {
  margin: 20px 0 20px 0; /* Margem */
  width: 150px; /* Largura */
  height: 50px; /* Altura */
}

footer > section nav {
  width: 20%; /* Largura de 20% */
  padding: 10px; /* Preenchimento */
  margin: 10px; /* Margem */
  height: 500px; /* Altura */
  display: flex; /* Usa o modelo flexível de layout */
  flex-direction: column; /* Direção dos itens flexíveis (coluna) */
  margin-bottom: 150px; /* Margem inferior */
}

footer > section nav h2 {
  font-weight: bold; /* Peso da fonte */
  font-size: 20px; /* Tamanho da fonte */
  padding: 20px 0 20px 0; /* Preenchimento */
}

footer > section nav a, footer > section nav div {
  text-decoration: none; /* Sem decoração de texto */
  color: #636474; /* Cor do texto */
  margin: 10px 0 10px 0; /* Margem */
}

footer > section nav img {
  height: 30px; /* Altura */
}

footer > div {
  text-align: center; /* Alinhamento do texto ao centro */
  width: 100%; /* Largura total */
  padding: 30px; /* Preenchimento */
}

footer .copyright {
  padding: 0; /* Preenchimento */
  width: 80%; /* Largura de 80% */
  margin-left: 10%; /* Margem à esquerda de 10% */
}

footer .copyright div {
  padding: 20px; /* Preenchimento */
}

footer .copyright hr{
  border-color: rgb(0, 0, 0); /* Cor da linha */
}

@media screen and (max-width: 500px) {
  .grid-container {
      grid-template-columns: repeat(2, 1fr); /* Cria 2 colunas iguais em telas menores que 500px */
  }
}
