.produtos {
  width: 80%;
  margin-left: 10%;
  margin-top: 0px;
  background: #fff;
}
.produtos .title {
  position: relative;
  width: 100%;
  text-align: center;
  color: #fb7730;
}
.produtos .title h2 {
  padding: 40px;
}
.produtos .content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin: 20px 0;
}
.produtos .content div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
}
.produtos .content div:hover {
  border: 2px solid #fb5630;
}
.produtos .content div img {
  width: 100%;
  max-width: 180px;
  height: auto;
  margin-bottom: 15px;
}
.produtos .content div .desc {
  text-align: center;
  margin-bottom: 15px;
  color: #636474;
}
.produtos .content div .fabricante {
  color: #cdc9cc;
  margin-bottom: 10px;
}
.produtos .content div .price {
  color: #fb5630;
  margin-bottom: 10px;
}
.produtos .content div .storage {
  color: #cdc9cc;
}
